body {
    background-image: linear-gradient(darkseagreen,white);
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

div .BuyButton {
    margin: 5px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    display: flex;
    margin: 0px;
    text-align: center;
    font-size: x-large;
    background-color: black;
} 

.card {
    background-color: white;
    border: 3px solid rgb(6, 3, 51);
    height: 100%;
}